<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Thomas Hutton</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link d-flex align-items-center" href="" Match="NavLinkMatch.All">
                <i class="bi bi-house-door-fill me-2" style="font-size: 1.25rem; line-height: 1;"></i>
                <span>Home</span>
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link d-flex align-items-center" href="visitors">
                <i class="bi bi-clipboard-plus-fill me-2" style="font-size: 1.25rem; line-height: 1;"></i>
                <span>Visitor's Center</span>
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link d-flex align-items-center" href="weather">
                <i class="bi bi-list-nested me-2" style="font-size: 1.25rem; line-height: 1;"></i>
                <span>Weather</span>
            </NavLink>
        </div>
    </nav>
</div>

