@page "/"

<PageTitle>Home</PageTitle>

<div class="hero text-black text-center p-5 mb-4" style="background: linear-gradient(to bottom right, #ffffff, #f0f2f5); border-radius: 0.5rem;">
    <h1 class="display-4">Thomas Hutton</h1>
    <p class="lead">Aspiring Software Engineer | Blazor | Azure | C# | SQL | REST</p>
    <a href="/projects" class="btn btn-dark btn-lg mt-3">View My Work</a>
</div>