@page "/"

<PageTitle>Home</PageTitle>

<h1 class="text-center">Thomas Hutton Extended Resume</h1>

<p class="lead">
This web app was created using Blazor and deployed on Azure. It is designed to showcase a bit of my talent as a programmer right out of college.
</p>