@page "/projects"
<h1>Projects</h1>
<div class="row d-flex align-items-stretch">
    <div class="col-sm-6 mb-3 mb-sm-0">
        <div class="card h-100 text-center border-dark">
            <h3 class="card-header">This Website</h3>
            <div class="card-body">
                <p class="card-text">
                    This website you are visiting was created using Blazor framework, which is a melding of C# and HTMl to enable creators to develop full-stack websites in a single framework.
                    My site is hosted on Azure along with a SQL database that the Visitor's Center uses to store and retrieve data of people who have visited the site. Bootstrap was used for styling.
                </p>
                <a href="https://github.com/rapid131/ThomasHuttonWebApp.git" class="btn btn-primary" target="_blank">
                    <i class="bi bi-github"></i> Website Repo
                </a>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card text-center border-dark">
            <h3 class="card-header">Banking Simulation</h3>
            <div class="card-body">
                <p class="card-text">
                    The banking simulation was a group project in my university system design class. As a lead programmer on the project I created the majority of the classes
                    and JavaFX controllers that run the simulation. The simulation allowed the user to create accounts, deposit money, write checks, withdraw funds, earn savings interest, and much more. I can show full functionality
                    of the software to prospective employers upon request.
                </p>
                <a href="https://github.com/rapid131/BankingProject.git" class="btn btn-primary" target="_blank">
                    <i class="bi bi-github"></i> Simulation Repo
                </a>
            </div>
        </div>
    </div>
</div>
<br />
<div class="row d-flex align-items-stretch align-items-center">
    <div class="col-sm-6 mb-3 mb-sm-0">
        <div class="card h-100 text-center border-dark">
            <h3 class="card-header">Virtual File System</h3>
            <div class="card-body">
                <p class="card-text">
                    This is a working shell built in GoLang that uses a virtual byte-encoded filesystem to perform basic file maintenance tasks. All the functions will work on a file which exists in the current working directory,
                    how to change the working directory and make new ones are explained in the "cd" and "mkdir" sections within the README.

                </p>
                <a href="https://github.com/rapid131/Go-Simple-File-System.git" class="btn btn-primary" target="_blank">
                    <i class="bi bi-github"></i> File System Repo
                </a>
            </div>
        </div>
    </div>
</div>

