@page "/visitors"
@rendermode InteractiveServer

<PageTitle>Visitor's Center'</PageTitle>

<h1>Visitor's Center</h1>

<p class="lead">Please enter your first name and the company you represent. Your data will be sent to a SQL database and displayed below. </p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}
